*{
  margin: 0;
  margin: 0;
  margin-left: 0px;
  margin-right: 0px;


  box-sizing: border-box;

}

.admin-panel{  margin-left: 0px;
  margin-right: 0px;

  background-color: #5b6677;
}

.container{
  width: 100%;
  min-width: 100vh;
  margin-left: 0px;
  margin-right: 0px;
}
.sidebar{
  width: 256px;
  height: 100vh;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #fff;
}