body{
    background: #121212;
    font-family:'Courier New', Courier, monospace;
}
h2,h3,h4{
    margin: 0;
    font-weight: 500;
}
.cars{
    position: relative;
    perspective: 1000px;
    width: 300px;
}
.card .front,
.card .back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    background: #999;
    border-radius: 10px;
    padding: 36px 36px 44px 44px;
    transition: 0.6s;
    cursor: pointer;
}
.back{

}